<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>

        <!-- Manage Retailers -->
        <add id="Smile_Retailer::retailers"
             title="Retailers"
             module="Smile_Retailer"
             sortOrder="20"
             parent="Smile_Seller::sellers_menu"
             action="smile_retailer/retailer/"
             resource="Magento_Catalog::retailers"/>
    </menu>
</config>
